<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_index.css') }}">
</head>
<body>
    <div class="container">
        <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>
        <a href="/uw_eigen_idee" class="button">Uw Eigen Idee</a>
        <a href="/duurzaamheid" class="button">Duurzaamheid</a>
        <a href="/economie" class="button">Economie</a>
        <a href="/jeugd" class="button">Jeugd</a>
        <a href="/kunst_en_cultuur" class="button">Kunst en cultuur</a>
        <a href="/onderhoud_of_verbetering_woning" class="button">Onderhoud of verbetering woning</a>
        <a href="/onderwijs" class="button">Onderwijs</a>
        <a href="/samenleven_welzijn_en_basisvaardigheden" class="button">Samenleven, welzijn en basisvaardigheden</a>
        <a href="/sport_en_recreatie_natuur_en_milieu" class="button">Sport en recreatie, natuur en milieu</a>
        <a href="/vieringen_herdenkingen_en_stimulering_woningcorporaties" class="button">Vieringen, herdenkingen en stimulering woningcorporaties</a>
        <a href="/volksgezondheid" class="button">Volksgezondheid</a>
        <a href="/werk_en_inkomen" class="button">Werk en inkomen</a>
    </div>
</body>
</html>